.div {
  border: solid 1px green;
  width: 100%;
  max-width: 400px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
              rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
              rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  margin-bottom: 20px;
}

.div1 {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center; /* Center align the cards */
}

.d-flex {
  flex-wrap: wrap;
  justify-content: space-between;
}

.container {
  width: 100%;
}
