#footers {
  background: rgb(34,193,195);
  background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(121,175,137,1) 50%);
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: white; 
  padding: 20px; 
  width: 100%;
}


.footer-bottom p {
  margin: 0;
}
 ul li {
  list-style-type: none;
  padding: 5px 0;
}

.footer li:hover {
  margin-left: 5px;
  color: green;
  transition: margin-left 0.3s ease, color 0.3s ease; 
}
.footer .footer {
  background-color: #f9f9f9;
  color: #333;
}

.social-icons .icon {
  color: #333;
  transition: color 0.3s ease, transform 0.3s ease;
}

.social-icons .icon:hover {
  color: green;
  transform: scale(1.1);
}

